<div class="row">
    <div class="col-12">
      <h1>Hard & Soft Skills</h1>
    </div>
  </div>
  <div class="row">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="50"
        [radius]="80"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#8D2B0B'"
        [innerStrokeColor]="'#E8A49F'"
        [showTitle]="true"
        [title]="'HTML'"
        [subtitle]="'50%'"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="90"
        [radius]="80"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#2980B9'"
        [innerStrokeColor]="'#B3CDE0'"
        [showTitle]="true"
        [title]="'CSS'"
        [subtitle]="'90%'"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="70"
        [radius]="80"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#2ECC71'"
        [innerStrokeColor]="'#ABEBC6'"
        [showTitle]="true"
        [title]="'JavaScript'"
        [subtitle]="'70%'"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="80"
        [radius]="80"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#F39C12'"
        [innerStrokeColor]="'#FAD7A0'"
        [showTitle]="true"
        [title]="'Angular'"
        [subtitle]="'80%'"
      ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
        [percent]="100"
        [radius]="80"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#8E44AD'"
      [innerStrokeColor]="'#D7BDE2'"
      [showTitle]="true"
      [title]="'Grupal'"
      [subtitle]="'60%'"
    ></circle-progress>
     </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="40"
      [radius]="80"
      [imageSrc]="'../assets/git.png'"
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#CB4335'"
      [innerStrokeColor]="'#F1948A'"
      [showTitle]="true"
      [title]="'GitHub'"
      [subtitle]="'40%'"
    ></circle-progress>
  </div>
<div>
