<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" alt="Foto de perfil de Carlos Branca" class="img-fluid rounded-circle" id="foto de perfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Carlos Branca</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo impedit amet fuga minima, ullam
                pariatur. Nisi porro itaque nemo delectus quos debitis doloremque, facere, cumque quaerat iure
                maxime ex quis.</p>
        </div>
    </div>
</div>
