<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 img-col">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil" alt="Fotografía de perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Carlos Branca</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Aceraca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit ea quisquam hic, saepe nulla
                laborum inventore animi! Obcaecati accusamus eum magni eos blanditiis debitis quibusdam aut iure fugiat
                quas?</p>
        </span>
    </div>
</div>
