<div class="row">
    <div class="contenedor">
      <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Proyectos realizados</h1>
        <h2>Portfolio Argentina Programa</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque doloremque eveniet quo nemo hic, eaque earum nostrum perspiciatis unde natus sint tempora ullam veritatis quidem officiis, nisi neque ab numquam.</p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/Banner.png" class="img-fluid img-proyecto" alt="foto del proyecto">
      </div>
    </div>
  </div>
  