 /* Estilos para pantallas grandes (escritorio) */
.row{
    padding: 20px;
  }
  div{
    background-color: #a1b5cb;
    text-align: center;
  }
  /* Estilo de la foto de perfil */
  #fotodeperfil {
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px #ccc;
    margin-top: -150px;
  }
  /* Etiqueta nombre */
  #nombre{
    font-weight: bold;
    margin-top: 15%;
  }
  
  /* Estilos para pantallas medianas (tabletas) */
  @media screen and (max-width: 992px) {
    .row{
      padding: 10px;
    }
    #nombre {
      margin-top: 20%;
    }
  }
  
  /* Estilos para pantallas pequeñas (móviles) */
  @media screen and (max-width: 768px) {
    .row{
      padding: 5px;
    }
    #nombre {
      margin-top: 10%;
    }
  }
  