<div>
    <a href="https://www.linkedin.com/in/tu-perfil-de-linkedin/"><img src="../../../assets/linkedin.png" alt="LinkedIn" id="linkedin"></a>
<a href="https://twitter.com/tu-usuario-de-twitter/"><img src="../../../assets/twitter.png" alt="Twitter" id="twitter"></a>
<a href="https://www.instagram.com/tu-usuario-de-instagram/"><img src="../../../assets/instagram.png" alt="Instagram" id="instagram"></a>
<a href="https://github.com/tu-usuario-de-github/"><img src="../../../assets/github.png" alt="GitHub" id="github"></a>
<a href="https://www.facebook.com/tu-usuario-de-facebook/"><img src="../../../assets/facebook.png" alt="Facebook" id="facebook"></a>

</div>
