<div class="experience">
    <h2>Experiencia laboral</h2>
    <ul class="job-list">
      <li class="job">
        <h3 class="job-title">Trabajo 1</h3>
        <span class="job-duration">(years)</span>
        <p class="job-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quia perferendis eum labore enim consectetur molestias corrupti. Minus, eveniet eum dolor ipsa sunt quaerat reiciendis harum quisquam officia ab magni!</p>
      </li>
      <li class="job">
        <h3 class="job-title">Trabajo 2</h3>
        <span class="job-duration">(years)</span>
        <p class="job-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quia perferendis eum labore enim consectetur molestias corrupti. Minus, eveniet eum dolor ipsa sunt quaerat reiciendis harum quisquam officia ab magni!</p>
      </li>
      <li class="job">
        <h3 class="job-title">Trabajo 3</h3>
        <span class="job-duration">(years)</span>
        <p class="job-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quia perferendis eum labore enim consectetur molestias corrupti. Minus, eveniet eum dolor ipsa sunt quaerat reiciendis harum quisquam officia ab magni!</p>
      </li>
    </ul>
  </div>
  